
.btn {
    text-decoration: none;
    background-color: #f4e354;
    border-radius: 6px;
    size: 5px;
    color: black;
}
header {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    text-align: right;
}