.characters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.character {
    display: flex;
    justify-content: initial;
    align-items: end;
    flex-direction: column;
    text-decoration: none;
    border-radius: 10px;
}
.character > img {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    padding: 5px 0px;
}
.character h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    background-color: orange;
    text-align: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin: 0px;
    padding: 5px 0px;
}

.icon {
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* Boton + */
.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}
.add-button img {
    border-radius: 50%;
}
.add-button img:hover {
    animation: fill 2s ease infinite;
}
.buttons-option {
    padding-top: 5px;
    padding-right: 5px;
    position: absolute;
}
.card {
    padding: 20px;
}


.add-button img {
    border-radius: 50%;
}
.add-button img:hover {
    animation: fill 2s ease infinite;
}
.buttons-option {
    padding-top: 5px;
    padding-right: 5px;
    position: absolute;
   
}
.card {
    padding: 20px;
}



.buttonSucces {background-color: #4CAF50;} /* Green */

.character:hover {
    animation: fill 2s ease infinite;
}

@keyframes fill {
    0% {
        box-shadow: rgba(217, 233, 250, 0) 0px 0px 0px 0px;
    }

    50% {
        box-shadow: rgba(217, 233, 250, 0.6) 0px 0px 20px 5px;
    }

    100% {
        box-shadow: rgba(217, 233, 250, 0) 0px 0px 0px 0px;
    }
}