<section>
    <p class="title">CREAR PERSONAJE</p>
    <br>
    <form [formGroup]="generalValid" (ngSubmit)="submit()" class="center" action="/my-handling-form-page"
        method="post">
        <div class="container">
            <div class="column">
                <input type="text" class="input-group" name="name" placeholder="Nombre" [(ngModel)]="character.name"
                    [formControl]="control">

                <div *ngIf="!control.valid && control.touched" class="labelvalidator">
                    <label *ngIf="control.errors?.['required']" class="labelvalidator">INFORMACIÓN REQUERIDA</label>
                    <label *ngIf="control.errors?.['minlength']" class="labelvalidator">MÍNIMO 5 CARACTERES</label>
                </div>
                <input type="text" class="input-group" name="birthyear" placeholder="Año de Nacimiento"
                    [(ngModel)]="character.birthyear" formControlName="birthyear">
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('birthyear')?.touched && this.generalValid.get('birthyear')?.errors?.['required']">
                INFORMACIÓN REQUERIDA
                </span>
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('birthyear')?.touched && this.generalValid.get('birthyear')?.errors?.['minlength']">
                MÍNIMO 5 CARACTERES
                </span>
                <input type="text" class="input-group" name="specie" placeholder="Especie"
                    [(ngModel)]="character.specie" [formControl]="control">
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('specie')?.touched && this.generalValid.get('specie')?.errors?.['required']">
                    INFORMACIÓN REQUERIDA
                </span> 
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('specie')?.touched && this.generalValid.get('specie')?.errors?.['minlength']">
                    MÍNIMO 5 CARACTERES
                </span> 
                <input type="text" class="input-group inputnumber" name="height" placeholder="Altura"
                    (keypress)="validateNumber($event)" [(ngModel)]="character.height" formControlName="height"
                    required>                
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('height')?.touched && this.generalValid.get('height')?.errors?.['required']">
                    ALTURA REQUERIDA
                </span>
                <input type="text" class="input-group inputnumber" name="mass" placeholder="Masa"
                (keypress)="validateNumber($event)" [(ngModel)]="character.mass" formControlName="mass" required>
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('mass')?.touched && this.generalValid.get('mass')?.errors?.['required']">
                    MASA REQUERIDA
                </span>
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('mass')?.touched && this.generalValid.get('mass')?.errors?.['nocero']">
                    La masa no puede ser cero.
                </span>
                <span class="labelvalidator"
                    *ngIf="this.generalValid.get('mass')?.touched && this.generalValid.get('mass')?.errors?.['nonegativos']">
                    No pueden poner numeros negativos
                </span>
            </div>
            <div class="column">
                <input type="text" class="input-group" name="gender" placeholder="Género" [(ngModel)]="character.gender"
                formControlName="gender">
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('gender')?.touched && this.generalValid.get('gender')?.errors?.['required']">
                INFORMACIÓN REQUERIDA
                </span>
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('gender')?.touched && this.generalValid.get('gender')?.errors?.['minlength']">
                MÍNIMO 5 CARACTERES
                </span> 
                <input type="text" class="input-group" name="haircolor" placeholder="Color de Pelo"
                    [(ngModel)]="character.haircolor" formControlName="haircolor">
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('haircolor')?.touched && this.generalValid.get('haircolor')?.errors?.['required']">
                INFORMACIÓN REQUERIDA
                </span>
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('haircolor')?.touched && this.generalValid.get('haircolor')?.errors?.['minlength']">
                MÍNIMO 5 CARACTERES
                </span> 
                <input type="text" class="input-group" name="skincolor" placeholder="Color de Piel"
                    [(ngModel)]="character.skincolor" formControlName="skincolor">
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('skincolor')?.touched && this.generalValid.get('skincolor')?.errors?.['required']">
                INFORMACIÓN REQUERIDA
                </span>
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('skincolor')?.touched && this.generalValid.get('skincolor')?.errors?.['minlength']">
                MÍNIMO 5 CARACTERES
                </span> 
                <input type="text" class="input-group" name="homeworld" placeholder="Mundo Natal"
                    [(ngModel)]="character.homeworld" formControlName="homeworld">
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('homeworld')?.touched && this.generalValid.get('homeworld')?.errors?.['required']">
                INFORMACIÓN REQUERIDA
                </span>
                <span class="labelvalidator"
                *ngIf="this.generalValid.get('homeworld')?.touched && this.generalValid.get('homeworld')?.errors?.['minlength']">
                MÍNIMO 5 CARACTERES
                </span> 
                <input type="text" name="imagen" placeholder="URL IMAGE" class="input-group"
                    [(ngModel)]="character.image" [formControl]="imageFormcontrol">
                <div *ngIf="!imageFormcontrol.valid && imageFormcontrol.touched" class="labelvalidator">
                    <label *ngIf="imageFormcontrol.errors?.['required']" class="labelvalidator">INFORMACIÓN
                        REQUERIDA</label>
                    <label *ngIf="imageFormcontrol.errors?.['pattern']" class="labelvalidator">INGRESE UNA URL
                        CORRECTA</label>
                </div>

            </div>
        </div>
        <br>
        <button class="btn" role="button" [routerLink]="['/characters/']" type="submit">VOLVER</button>
        <button [disabled]="!control.valid || generalValid.invalid" class="btn" role="button"
            (click)="createPersonaje()" *ngIf="!character.id else elseBlock " type="submit">GUARDAR</button>
        <ng-template #elseBlock>
            <button [disabled]="!control.valid" class="btn" role="button"
                (click)="updateCharacter()">ACTUALIZAR</button>
        </ng-template>        
    </form>
</section>